.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  background: var(--ifm-background-color);
}

.featureEmoji {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  background: var(--ifm-color-emphasis-100);
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.featureCard {
  padding: 2rem;
  border-radius: 16px;
  transition: all 0.3s ease;
  height: 100%;
}

.featureCard:hover {
  background: var(--ifm-card-background-color);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  transform: translateY(-5px);
}

.featureTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.featureDescription {
  color: var(--ifm-color-secondary-darker);
  line-height: 1.6;
}
